/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base { a { @apply no-underline; }  }

/* ----------- ADDITIONAL COMPONENTS  --------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

html { scroll-behavior: smooth; }


/* For regular laptops and smaller screens */
body {
    max-width: 100%; /* Allow it to expand to the full width of the screen */
    background-color: #F5F5F5; 
    color:  #141201; 
    font-family: "Nunito", sans-serif;
}

/* For larger screens like flatscreen TVs */
@media screen and (min-width: 1600px) {
    .max-width {
        max-width: 1600px; /* Set a specific max-width for larger screens */
        margin: 0 auto; /* Center the content horizontally */
    }
}

header {
  width: 100%!important;
  top: 0;
}


.font-extralight {
  font-family: "Nunito", sans-serif;
    font-weight: 200;
  }

  .font-light {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
  }

  .font-regular {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
  }

  .font-medium {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
  }

  .font-semibold {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
  }

  .font-bold {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
  }

  .font-extrabold {
    font-family: "Nunito", sans-serif;
    font-weight: 800;
  }


/* Aspect Ratio  */
.gallery-portrait-tall { padding-bottom: 175%; }
.gallery-portrait { padding-bottom: 125%; }
.gallery-square { padding-bottom: 100%; }
.gallery-landscape { padding-bottom: 66%; }
.gallery-landscape-wide { padding-bottom: 56%; }

/* Background Position */
.g-bg-pos-t { background-position: top; }
.g-bg-pos-b { background-position: bottom; }
.g-bg-pos-l { background-position: left; }
.g-bg-pos-r { background-position: right; }

